html {
  font-family: "微软雅黑","Microsoft YaHei","Helvetica",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}

a,
a:active,
a:hover {
  color: #fff;
  outline: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}


/** main style */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.nav {
  font-size: 16px;
}

.avatar {
  background: url(../imgs/me.png) no-repeat;
  width: 136px;
  height: 115px;
}

#menu {
  padding: 0;
}

.nav-item {
  float: left;
  padding: 15px 15px 5px 15px;
  margin: 0px 15px;
}

.nav-item.active {
  border-bottom: 5px solid red;
}

/* about */
.about-content { /* TODO add different vendors */
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
}

.intro-item {
  cursor: pointer;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 75px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 140px;
  width: 140px;
  margin: 0 30px;

}

.js-num {
  font-size: 48px;
  font-weight: bold;
}

.about-experience {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
}

.about-project {
  -webkit-animation-delay:1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
}

.about-responsibility {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
}

/* skill */
.canvas-wrap {
  position: relative;
}

.javascript,
.css,
.html,
.php {
  display: inline-block;
  font-size: 38px;
  color: #fff;
  font-weight: bold;
  position: absolute;
}


/** clearfix **/
.clearfix:before,
.clearfix:after,
:before,
:after
 {
  display: table;
  content: " ";
}
.clearfix:after,
#menu:after,
#menu:after {
  clear: both;
}