html {
  font-family: "微软雅黑","Microsoft YaHei","Helvetica",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
}

a,
a:active,
a:hover {
  color: #fff;
  outline: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h2 {
  font-size: 26px;
  font-weight: normal;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}


/** main style */

/* header */
.header {
  background: rgb(0, 51, 102);
  box-shadow: 0 1px 10px darkblue;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.nav {
  font-size: 16px;
}

.avatar {
  background: url(../imgs/me.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 136px;
  height: 115px;
}

#menu {
  padding: 0;
}

.nav-item {
  float: left;
  padding: 15px 15px 5px 15px;
  margin: 0px 15px;
}

.nav-item.active {
  border-bottom: 5px solid red;
}

.section {
  padding-top: 100px;
}


/* about */
.about-content {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
}

.about-intro {
  position: absolute;
  margin-left: -319px;
  left: 50%;
  top: 50%;
}

.intro-item {
  cursor: pointer;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 75px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 140px;
  width: 140px;
  margin: 0 30px;

}

.js-num {
  font-size: 48px;
  font-weight: bold;
}

.about-experience {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -ms-animation-delay: .9s;
  -o-animation-delay: .9s;
}

.about-project {
  -webkit-animation-delay:1.1s;
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
}

.about-responsibility {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
}

/* skill */
.skill-content {
  font-size: 16px;
}

.canvas-wrap {
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.javascript,
.css,
.html,
.php {
  display: inline-block;
  font-size: 38px;
  color: #fff;
  font-weight: bold;
  position: absolute;
}

/* project */
.project-section {
  padding-top: 47px;
}

.project-item {
  background-size: cover;
  float: left;
  height: 50%;
  width: 25%;
}

/*.project-bg {
  display: inline-block;
}*/

.p1 {
  background: url(../imgs/eio.png) no-repeat center center;
  /*max-width: 100%;*/
}

.p2 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

.p3 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

.p4 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

.p5 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

.p6 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

.p7 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

.p8 {
  background: url(../imgs/kefu.png) no-repeat center center;
}

/*.item-1.active,
.project-desc-1.active {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
}

.item-2.active,
.project-desc-2.active {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -o-animation-delay: 4s;
}

.item-3.active,
.project-desc-3.active {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
}

.item-1,
.item-2,
.item-3,
.project-desc {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.project-wrap {
  margin: 0 auto;
  height: 100%;
  width: 90%;
}

.project-left,
.project-right {
  position: relative;
  height: 100%;
  width: 50%;
}

.project-item,
.project-desc {
  position: absolute;
}

.project-item {
  right: 50px;
}

.project-desc {
  left: 0;
}*/


/* interest */
.photo-wrap {
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.photo-frame {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
  color: #333;
  position: absolute;
  min-height: 200px;
  width: 300px;
  transition: all 1s ease;
}

.frame-1 {
  left: 0;
  top: 50px;
}

.frame-2 {
  left: 150px;
  top: 150px;
}

.frame-3 {
  left: 350px;
  top: 0;
}

.photo-1,
.photo-2,
.photo-3 {
  transition: all 1s ease;
}

.photo-frame:hover {
  cursor: pointer;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.frame-1:hover .photo-1,
.frame-2:hover .photo-2,
.frame-3:hover .photo-3 {
  opacity: 0;
}

.photo-back {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: all 1s ease;
}

.frame-1:hover .photo-back,
.frame-2:hover .photo-back,
.frame-3:hover .photo-back {
  opacity: 1;
}

.photo-brief {
  position: absolute;
  right: 10%;
  top: 100px;
}

.brief-1 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
}

.brief-2 {
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay: 2.0s;
  -o-animation-delay: 2.0s;
}

.brief-3 {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
}


/** clearfix **/
.clearfix:before,
.clearfix:after,
:before,
:after
 {
  display: table;
  content: " ";
}
.clearfix:after,
#menu:after,
#menu:after {
  clear: both;
}